tncity-ejb/src/conf/xml-resources/web-service-references/PagosInteligentesWS/wsdl/localhost_8080/tncity-war/PagosInteligentesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://pasarelaspago.webservice.tncity.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pasarelaspago.webservice.tncity.com/">

<xs:element name="consultarPpl" type="tns:consultarPpl"/>

<xs:element name="consultarPplResponse" type="tns:consultarPplResponse"/>

<xs:element name="consultarrecargar" type="tns:consultarrecargar"/>

<xs:element name="consultarrecargarResponse" type="tns:consultarrecargarResponse"/>

<xs:element name="recargarMinutos" type="tns:recargarMinutos"/>

<xs:element name="recargarMinutosResponse" type="tns:recargarMinutosResponse"/>

<xs:complexType name="recargarMinutos">
<xs:sequence>
<xs:element name="codigoPPL" type="xs:long" minOccurs="0"/>
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0"/>
<xs:element name="Documento" type="xs:string" minOccurs="0"/>
<xs:element name="TelefonoPPL" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
<xs:element name="Ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="Transaccion" type="xs:double"/>
<xs:element name="forma pago" type="xs:string" minOccurs="0"/>
<xs:element name="Franquicia" type="xs:string" minOccurs="0"/>
<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="Referencia1" type="xs:string" minOccurs="0"/>
<xs:element name="FechaPago" type="xs:string" minOccurs="0"/>
<xs:element name="NumeroRecibo" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="mensaje" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recargarMinutosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarrecargar">
<xs:sequence>
<xs:element name="codigoPPL" type="xs:long" minOccurs="0"/>
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0"/>
<xs:element name="Documento" type="xs:string" minOccurs="0"/>
<xs:element name="TelefonoPPL" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
<xs:element name="Ciudad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarrecargarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPpl">
<xs:sequence>
<xs:element name="tdoc" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPplResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>