tncity-war/src/conf/xml-resources/web-service-references/WSPasarelasPago/wsdl/localhost_8080/tncity-war/WSPasarelasPago.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://pasarelaspago.webservice.tncity.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pasarelaspago.webservice.tncity.com/">

<xs:element name="consultarPPL" type="tns:consultarPPL"/>

<xs:element name="consultarPPLResponse" type="tns:consultarPPLResponse"/>

<xs:element name="consultarWebTnPagos" type="tns:consultarWebTnPagos"/>

<xs:element name="consultarWebTnPagosResponse" type="tns:consultarWebTnPagosResponse"/>

<xs:element name="recargarPago" type="tns:recargarPago"/>

<xs:element name="recargarPagoResponse" type="tns:recargarPagoResponse"/>

<xs:element name="recargarWebTnPagos" type="tns:recargarWebTnPagos"/>

<xs:element name="recargarWebTnPagosResponse" type="tns:recargarWebTnPagosResponse"/>

<xs:complexType name="recargarWebTnPagos">
<xs:sequence>
<xs:element name="idbenefactor" type="xs:string" minOccurs="0"/>
<xs:element name="idbeneficiario" type="xs:string" minOccurs="0"/>
<xs:element name="idrecaudo" type="xs:string" minOccurs="0"/>
<xs:element name="pin" type="xs:string" minOccurs="0"/>
<xs:element name="td" type="xs:string" minOccurs="0"/>
<xs:element name="telefonosms" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="codigotransaccion" type="xs:string" minOccurs="0"/>
<xs:element name="formapago" type="xs:string" minOccurs="0"/>
<xs:element name="Franquicia" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="Referencia1" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPago" type="xs:string" minOccurs="0"/>
<xs:element name="reciboPago" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="mensaje" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recargarWebTnPagosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recargarPago">
<xs:sequence>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="tipodocumento" type="xs:string" minOccurs="0"/>
<xs:element name="doctobenefactor" type="xs:string" minOccurs="0"/>
<xs:element name="telefonosms" type="xs:string" minOccurs="0"/>
<xs:element name="cedulaaPPL" type="xs:string" minOccurs="0"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
<xs:element name="codigotransaccion" type="xs:string" minOccurs="0"/>
<xs:element name="formapago" type="xs:string" minOccurs="0"/>
<xs:element name="Franquicia" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="Referencia1" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPago" type="xs:string" minOccurs="0"/>
<xs:element name="reciboPago" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="mensaje" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recargarPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPPL">
<xs:sequence>
<xs:element name="docben" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPPLResponse">
<xs:sequence>
<xs:element name="return" type="tns:telefoniaJson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="telefoniaJson">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="tariffgroupname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarWebTnPagos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarWebTnPagosResponse">
<xs:sequence>
<xs:element name="return" type="tns:recaudoTrans" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recaudoTrans">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="created_at" type="xs:string" minOccurs="0"/>
<xs:element name="idbenefactor" type="xs:string" minOccurs="0"/>
<xs:element name="idbeneficiario" type="xs:string" minOccurs="0"/>
<xs:element name="idrecaudo" type="xs:string" minOccurs="0"/>
<xs:element name="log" type="xs:string" minOccurs="0"/>
<xs:element name="pin" type="xs:string" minOccurs="0"/>
<xs:element name="td" type="xs:string" minOccurs="0"/>
<xs:element name="telefonosms" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>