tncity-war/src/conf/xml-resources/web-service-references/WSPasarelasPago/wsdl/localhost_8080/tncity-war/WSPasarelasPago.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pasarelaspago.webservice.tncity.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pasarelaspago.webservice.tncity.com/" name="WSPasarelasPago">
<types>
<xsd:schema>
<xsd:import namespace="http://pasarelaspago.webservice.tncity.com/" schemaLocation="http://localhost:8080/tncity-war/WSPasarelasPago?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarPPL">
<part name="parameters" element="tns:consultarPPL"/>
</message>
<message name="consultarPPLResponse">
<part name="parameters" element="tns:consultarPPLResponse"/>
</message>
<message name="recargarPago">
<part name="parameters" element="tns:recargarPago"/>
</message>
<message name="recargarPagoResponse">
<part name="parameters" element="tns:recargarPagoResponse"/>
</message>
<message name="consultarWebTnPagos">
<part name="parameters" element="tns:consultarWebTnPagos"/>
</message>
<message name="consultarWebTnPagosResponse">
<part name="parameters" element="tns:consultarWebTnPagosResponse"/>
</message>
<message name="recargarWebTnPagos">
<part name="parameters" element="tns:recargarWebTnPagos"/>
</message>
<message name="recargarWebTnPagosResponse">
<part name="parameters" element="tns:recargarWebTnPagosResponse"/>
</message>
<portType name="WSPasarelasPago">
<operation name="consultarPPL">
<input wsam:Action="http://pasarelaspago.webservice.tncity.com/WSPasarelasPago/consultarPPLRequest" message="tns:consultarPPL"/>
<output wsam:Action="http://pasarelaspago.webservice.tncity.com/WSPasarelasPago/consultarPPLResponse" message="tns:consultarPPLResponse"/>
</operation>
<operation name="recargarPago">
<input wsam:Action="http://pasarelaspago.webservice.tncity.com/WSPasarelasPago/recargarPagoRequest" message="tns:recargarPago"/>
<output wsam:Action="http://pasarelaspago.webservice.tncity.com/WSPasarelasPago/recargarPagoResponse" message="tns:recargarPagoResponse"/>
</operation>
<operation name="consultarWebTnPagos">
<input wsam:Action="http://pasarelaspago.webservice.tncity.com/WSPasarelasPago/consultarWebTnPagosRequest" message="tns:consultarWebTnPagos"/>
<output wsam:Action="http://pasarelaspago.webservice.tncity.com/WSPasarelasPago/consultarWebTnPagosResponse" message="tns:consultarWebTnPagosResponse"/>
</operation>
<operation name="recargarWebTnPagos">
<input wsam:Action="http://pasarelaspago.webservice.tncity.com/WSPasarelasPago/recargarWebTnPagosRequest" message="tns:recargarWebTnPagos"/>
<output wsam:Action="http://pasarelaspago.webservice.tncity.com/WSPasarelasPago/recargarWebTnPagosResponse" message="tns:recargarWebTnPagosResponse"/>
</operation>
</portType>
<binding name="WSPasarelasPagoPortBinding" type="tns:WSPasarelasPago">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarPPL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recargarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarWebTnPagos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recargarWebTnPagos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPasarelasPago">
<port name="WSPasarelasPagoPort" binding="tns:WSPasarelasPagoPortBinding">
<soap:address location="http://localhost:8080/tncity-war/WSPasarelasPago"/>
</port>
</service>
</definitions>